<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Bookmark</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="near_you">
		<h2></h2>
		<ion-list lines="none">
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_ineer">
					<div class="img_box center_img">
						<img src="assets/imgs/r2.png" class="crop_img">
						<ion-badge color="success">4.2</ion-badge>
						<div class="details">
							<h2>Global Fusion China Chef</h2>
							<ion-icon class="zmdi zmdi-bookmark ion-text-end"></ion-icon>
							<p>Chinees food, Panjabi Food, South indian, Gujarati food</p>
						</div>
					</div>
					<ion-row>
						<ion-col size="5">
							<h4>30-45 min</h4>
							<h3>{{'avg_dlvr_time' | translate}}</h3>
						</ion-col>
						<ion-col size="3">
							<h4>$ 50</h4>
							<h3>{{'min_order' | translate}}</h3>
						</ion-col>
						<ion-col size="4">
							<h4>Online & COD</h4>
							<h3>{{'pay_mod' | translate}}</h3>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
		</ion-list>
	</div>
</ion-content>