ion-header ion-toolbar ion-title {
	font-size: 1.15rem;
}

.restro_details {
	background: var(--bg-color-secondary);
	padding: 17px 19px;

	h2 {
		margin: 0;
		color: var(--white);
		margin: 0;
		color: var(--white);
		font-size: 1.15rem;
		padding-bottom: 3px;
	}

	p {
		margin: 0;
		color: var(--text-light);
		font-size: .7rem;
	}
}

ion-list {
	background: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;

	ion-item {
		padding: 15px 20px;
		min-height: unset !important;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		overflow: hidden;
		transition: all .5s ease;

		.item_inner {
			width: 100%;
			overflow: hidden;

			.item_content {
				.item_box {
					align-items: center;

					.item_img {
						min-width: 60px;
						width: 60px;
						height: 60px;
						border-radius: 10px;
						margin-right: 10px;
					}
				}

				.item_info {
					width: 100%;

					h2 {
						margin: 0;
						font-size: .93rem;
						color: var(--white);
						font-weight: 400;
						letter-spacing: .5px;
						padding-bottom: 6px;

						span {
							&.add_remove_btn {
								display: flex;
								align-items: center;
								min-width: fit-content;

								small {
									color: var(--white);
									background: var(--primary);
									text-align: center;
									border-radius: 50%;
									min-width: 20px;
									height: 20px;
									line-height: 20px;
									display: block;
									font-weight: 500;
									font-size: 1rem;

									&.add_icon {
										line-height: 19px;
										font-size: 1rem;
									}
								}

								strong {
									padding: 0 3px;
									min-width: 29px;
									font-weight: 400;
									display: block;
								}
							}
						}
					}


					ion-row {
						margin: 0 -5px;

						ion-col {
							padding: 0 5px;

							p {
								margin: 0;
								color: var(--text-light);
								font-size: .7rem;

								span {
									display: block;
								}
							}

							h4 {
								margin-top: 0;
								margin-bottom: 0;
								display: flex;
								align-items: center;
								width: fit-content;
								color: var(--white);
								font-size: 1rem;

								span {
									&.add_remove_btn {
										display: flex;
										align-items: center;
										min-width: fit-content;

										small {
											color: var(--white);
											background: var(--primary);
											text-align: center;
											border-radius: 50%;
											min-width: 20px;
											height: 20px;
											line-height: 20px;
											display: block;
											font-weight: 500;
											font-size: 1rem;

											&.add_icon {
												line-height: 19px;
												font-size: 1rem;
											}
										}

										strong {
											padding: 0 3px;
											min-width: 29px;
											font-weight: 400;
											display: block;
										}
									}

									&.item_price {
										display: block;
										min-width: fit-content;
									}
								}
							}
						}

					}
				}
			}
		}

	}
}

ion-footer {
	background: var(--bg-color-secondary);
	padding: 0;

	.details {
		padding: 18px 20px 18px 20px;

		h2 {
			color: var(--white);
			margin: 0;
			font-size: 1rem;
			letter-spacing: 0.5px;
			margin-bottom: 10px;
		}

		h3 {
			margin: 0;
			color: var(--text-light);
			font-size: 1.1rem;
			font-weight: 400;
			margin-bottom: 10px;
		}

		h4 {
			margin: 0;
			color: var(--primary);
			font-size: .95rem;
			margin-top: 5px;

			ion-icon {
				font-size: 1.1rem;
				min-width: 27px;
			}
		}
	}

	.confirm_order {
		background: var(--primary);
		padding: 16px 20px 16px 20px;

		h2 {
			margin: 0;
			color: var(--white);
			font-size: .95rem;
			font-weight: 400;

			.end {
				font-size: 1.15rem;
				font-weight: 500;
			}
		}
	}
}