<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
    <div class="search_box d-flex">
        <!--        <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>-->
        <ion-searchbar class="ion-no-padding" placeholder="{{'search_placeholder' | translate}}"></ion-searchbar>
    </div>
    <p>(eg. New York, City Garden, etc.)</p>
</ion-header>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

<ion-content class="bg_color">
    <div class="use_current_location" (click)="home()">
        <h2 class="d-flex">
            <ion-icon class="zmdi zmdi-gps-dot ion-text-start"></ion-icon> {{"use_current_location" | translate}}
        </h2>
        \asdasdasdasd
    </div>

    <div class="recent_location d-flex">
        <ion-icon class="zmdi zmdi-time-restore ion-text-start"></ion-icon>
        <div class="text">
            <h2 class="d-flex"> {{"recent_location" | translate}}</h2>
            <h3 (click)="home()">New York City, USA</h3>
            <h3 (click)="home()">Los Angeles, USA</h3>
            <h3 (click)="home()">New City Garden, Hemilton</h3>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-icon class="zmdi zmdi-pin" text-start></ion-icon>
    <div class="text">
        <h2 class="d-flex">{{"save_address" | translate}}</h2>
        <div class="address_container">
            <div class="address" (click)="home()">
                <h3>Home</h3>
                <p>104, Adina Park, Opp HSBC Bank, Old golden street, Washington DC, USA </p>
            </div>
            <div class="address" (click)="home()">
                <h3>Office</h3>
                <p>104, Adina Park, Opp HSBC Bank, Old golden street, Washington DC, USA </p>
            </div>
            <div class="address" (click)="home()">
                <h3>Other</h3>
                <p>104, Adina Park, Opp HSBC Bank, Old golden street, Washington DC, USA </p>
            </div>
        </div>
    </div>
</ion-footer>
