<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{"my_reviews" | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>	<ion-item>
			<div class="item_inner">
				<h3>Rainbow Restaurant</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
			<h3>Global China Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">4 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_inner">
				<h3>Sllver Leaf Restro</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_inner">
			<h3>Jackson Fastfood</h3>
				<h4 class="d-flex">
					<ion-badge class="">4.5</ion-badge>
					<span class="retaing">
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
						<ion-icon class="zmdi zmdi-star active"></ion-icon>
					</span>
					<span class="end">5 April,17</span>
				</h4>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
				</p>
			</div>
		</ion-item>

	 
	</ion-list>
</ion-content>