ion-header {
	background: var(--bg-color);

	ion-toolbar {
		ion-buttons ion-back-button {
			--color: var(--text-light2) !important;
			color: var(--text-light2) !important;
		}

	}

	.search_box {
		width: calc(100% - 40px);
		margin: 0 auto;
		padding-bottom: 4px;
		border-bottom: 1px solid var(--bg-color2);

		ion-icon {
			color: var(--text-light);
			font-size: 1.4rem;
			min-width: 35px;
			height: 35px;
			line-height: 35px;
			z-index: 99;
			opacity: .4;
		}

		ion-searchbar {
			--background: var(--transparent) !important;
			--color: var(--white);
			--placeholder-opacity: .4;
			--placeholder-font-weight: 500 !important;
			--box-shadow: none !important;
			--placeholder-color: var(--text-light);
		}
	}

	p {
		width: calc(100% - 40px);
		margin: 0 auto;
		color: var(--text-light);
		font-weight: 500;
		font-size: .8rem;
		opacity: .6;
		padding-top: 10px;
	}
}


ion-card {
	width: 100%;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
	position: relative;
	background: none;
	padding-bottom: 25px;

	&.order-scroll {
		h2 {
			width: calc(100% - 40px);
			margin: 0 auto;
			margin-top: 26px;
			margin-bottom: 20px;
			font-size: 1.14rem;
			font-weight: 500;
			color: var(--black);

			span {
				color: var(--text-light);
				font-weight: 500;
				font-size: .9rem;
			}
		}

		.scroll_container {
			width: 100%;
			height: 145px;
			white-space: nowrap;
			overflow: hidden;
			overflow-x: auto;

		}


		.order-item {
			width: 95px;
			display: inline-block;
			margin: 0 3.5px;

			&:first-child {
				margin-left: 20px;
			}

			&:last-child {
				margin-right: 20px;
			}

			.img-box {
				position: relative;
				overflow: hidden;
				width: 95px;
				height: 95px;
				border-radius: 10px;
			}

			h4 {
				font-size: .9rem;
				font-weight: 400;
				color: var(--black);
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				margin: 0;
				margin-top: 12px;
				padding-bottom: 4px;
			}

			p {
				font-size: .66rem;
				margin-top: 0;
				color: var(--text-light);
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				font-weight: 500;
				opacity: .7;
			}
		}
	}
}

.recent_location {
	width: calc(100% - 40px);
	margin: 0 auto;
	align-items: flex-start;
	margin-top: 20px;

	h2 {
		font-size: 1.14rem;
		font-weight: 500;
		color: var(--primary);
		margin: 0;
		padding-bottom: 20px;
	}

	ion-icon {
		font-size: 1.24rem;
		min-width: 30px;
		color: var(--primary);

	}

	h3 {
		margin: 0;
		color: var(--text-light);
		font-size: .95rem;
		letter-spacing: .5px;
		margin-bottom: 14px;
		font-weight: 500;
		opacity: .8;
	}
}

ion-footer {
	background: var(--primary);
	min-height: 65px;
	padding: 0 20px;

	ion-icon {
		color: var(--white);
		font-size: 1.24rem;
		min-width: 30px;
	}

	h2 {
		font-size: 1.14rem;
		font-weight: 400;
		color: var(--white);
		margin: 0;
		letter-spacing: .5px;
	}
}